In [2]:
import pickle
import pandas as pd

In [3]:
dataset_sample = pickle.load(open("dataset_sample", "rb"))
dataset_sample.keys()

dict_keys(['Dataset Title', 'GPT Input', 'Datamart Profiler Result', 'DataFrame', 'DataFrame Sample'])

In [6]:
dataset_sample['Dataset Title']

'Anemometer Data (Wind Speed, Direction) for Beloit, Kansas (May 13 - Jun 13, 2003)'

In [7]:
dataset_sample['GPT Input']

'Input: \nTime Stamp,Average Wind Speed,Standard Deviation,Average Wind Direction\n8/13/2003 17:40,14.1,2.83,90\n8/8/2003 22:40,5.7,0.8,45\n9/15/2003 5:20,12.4,0.53,180\n6/16/2003 11:10,3.7,2.51,203\n6/17/2003 1:30,10.0,0.43,158\n7/1/2003 3:20,7.2,0.43,135\n9/11/2003 22:40,3.1,0.43,23\n8/1/2003 8:30,2.8,0.75,90\n6/27/2003 3:20,13.3,0.59,180\n6/15/2003 10:30,0.0,0.11,158\n\n\nContext: \nColumn Time Stamp is a time column with temporal resolution in minute. The temporal coverage is from 2003-06-14 to 2003-09-13. \nColumn Average Wind Speed is a http://schema.org/Float. The range of values is from 0 to 30.3. \nColumn Standard Deviation is a http://schema.org/Float. The range of values is from 0 to 4.06. \nColumn Average Wind Direction is a http://schema.org/Integer. There are 16 distinct values. The range of values is from 0 to 203.0. \n'

In [8]:
dataset_sample['Datamart Profiler Result']

{'columns': [{'name': 'Time Stamp',
   'structural_type': 'http://schema.org/Text',
   'semantic_types': ['http://schema.org/DateTime'],
   'num_distinct_values': 13576},
  {'name': 'Average Wind Speed',
   'structural_type': 'http://schema.org/Float',
   'semantic_types': [],
   'coverage': [0, 30.3]},
  {'name': 'Standard Deviation',
   'structural_type': 'http://schema.org/Float',
   'semantic_types': [],
   'coverage': [0, 4.06]},
  {'name': 'Average Wind Direction',
   'structural_type': 'http://schema.org/Integer',
   'semantic_types': [],
   'num_distinct_values': 16,
   'coverage': [0, 203.0]}],
 'temporal_coverage': [{'column_names': ['Time Stamp'],
   'temporal_resolution': 'minute',
   'ranges': ['2003-06-14', '2003-09-13']}],
 'attribute_keywords': ['Time Stamp',
  'Time',
  'Stamp',
  'Average Wind Speed',
  'Average',
  'Wind',
  'Speed',
  'Standard Deviation',
  'Standard',
  'Deviation',
  'Average Wind Direction',
  'Average',
  'Wind',
  'Direction']}

In [9]:
dataset_sample['DataFrame Sample']

,Time Stamp,Average Wind Speed,Standard Deviation,Average Wind Direction
8838,8/13/2003 17:40,14.1,2.83,90
8148,8/8/2003 22:40,5.7,0.80,45
13516,9/15/2003 5:20,12.4,0.53,180
447,6/16/2003 11:10,3.7,2.51,203
533,6/17/2003 1:30,10.0,0.43,158
2560,7/1/2003 3:20,7.2,0.43,135
13044,9/11/2003 22:40,3.1,0.43,23
7055,8/1/2003 8:30,2.8,0.75,90
1984,6/27/2003 3:20,13.3,0.59,180
299,6/15/2003 10:30,0.0,0.11,158